! Command: show running-config
! device: DMZ-LF18 (DCS-7060SX2-48YC6, EOS-4.24.2.1F)
!
! boot system flash:/EOS-4.24.2.1F.swi
!
alias dtr daemon TerminAttrRW
alias sig show running-config section ip igmp snooping
alias srm show running-config section ip route multicast
!
daemon TerminAttr
   exec /usr/bin/TerminAttr -ingestgrpcurl=10.90.224.175:9910 -taillogs -ingestauth=key, -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent
   no shutdown
!
daemon TerminAttrRW
   exec /usr/bin/TerminAttrRW -grpcaddr=0.0.0.0:5910 -ingestgrpcurl=10.90.224.175:9910 -cvcompression=gzip -ingestauth=key, -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent -ingestvrf=default -allowed_ips=0.0.0.0/0
   no shutdown
!
hardware access-list update default-result permit
!
ip igmp snooping vlan 1 member 239.0.0.1 interface Ethernet6
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model ribd
!
hostname DMZ-LF18
ip name-server vrf default 172.22.22.40
dns domain sjc.aristanetworks.com
!
ntp server 172.22.22.50
ntp server 198.55.111.50
ntp server 216.229.0.179
!
ptp mode boundary
!
snmp-server community ro ro
snmp-server community rw rw
!
spanning-tree mode mstp
!
aaa authorization exec default local
aaa authorization commands all default local
!
aaa root secret sha512 $6$hUuqX/saTYAx03r.$hpiyuQbayR9ERiY6RCmfAisVFj4qdDpZEIV4sqh9zJi.5/fpk4d0VXPaWOOJCXBPDiSb0jlyYzcIvRqg1aG72.
!
username admin role network-admin secret sha512 $6$8H4FbWqNs2EPK73K$o36nwQsIyWfoy.XH7q9LOmwr259Hdwx3O3dyDTHZRqNXh1.IcDDGz2EocacbaHaXdDyYhuKex5oicSgmFFBoR1
username cvpadmin role network-admin secret sha512 $6$LfxBt1/G1MLZ/o97$LqoGK6tz4UDy/6GRFxrh8nG.4bnl9LjxZ..Pxd2sHJem3g15JhFJGTL0MsN6vPSx1QPfR2MutwzczfU3PZgQ4/
username dan privilege 15 role V3-user secret sha512 $6$WTyL0jYNImw2uQ8w$osGdL6dzngoei/vR15iYZ2DJEW8aHbyn49ZxhSH8Kh9SjRqE3gqOP/p56o1H2w3hwjw2BkLpTkXDcvjJiuESw1
username dshim role network-admin secret sha512 $6$iOpGHexHSCM2v.TF$B4iypxF4gVaTh8T3mmujWIzw96mIqazsZWCLB8silxbe7qQ21d/ZPWg63UlDD9RtM.li0dkrDM/giPta3UW5M.
username fredlhsu role network-admin secret sha512 $6$Z53BuwzjxSouK.Y5$O.uMKYek5uF4h.Gfd6qURPl2KWpojfDJEaRn5cqyzMjucBsYaggofJeexxoTUB5uY99EQywiobDvcF4JR9gTr1
username fredlhsu ssh-key ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDRz+Y3Aw0tpF2oChxqEwP4P9PnP0etzZ+QN5JRKrVvEZiauqecqBJdtPNj3Vwv5KOL/62ZxypPnisE2zDqKJnlh9Kbp2dGN5GFo0OuwjLZckv6LuIDXDuMm74d0lkNjhqNeO7S18R/wAd7pwJNOUSpJx9qmHXL8gJq9OBTwrDKkzjEbH7VokeZALfikPrKcdGZaTOPsG82Fgeujq6rwUO+086zdLwqc3MWRXjrfVMZsCLEmM204uS1JRVheco8ZK8eBk0J/BGxkHRzW5hiR+Z8xe4kurxoq5RyrdrEOIB/CVjDUEIKwHLIirWPFOGbJ98P0e8+s2BuQUtC78eGg5/n fredlhsu@fredlhsu
username mcs privilege 15 role network-admin secret sha512 $6$cySCTiqBqK7kCif4$SWR5i1X7nWiUe/05jz2cCs34Sm0Sb3IGfx4w0Yv.V9WXI3gfwYxKLt7kvvgjf93iD6h5WIqtv7XNac64VY6/e.
username prajna privilege 15 role network-admin secret sha512 $6$AVAyQOysTQq2fb0C$jEAekfhiPez76rAlViaPNsNWuQG1FAjBQZ//xwjzl7t7Vysl9FMEjwbYEwl5NnZoUlj7.pv88EgsXjbH3JmHS.
username sakti privilege 15 role network-admin secret sha512 $6$0XaEE1qppcw2gSfR$X25QrYO404XKvj4fXoYfsmv0lTnYj2FI.gpDAwfpwXurUk01P3cyE46sWzICa470gSkS1BVqQlvCXmJSzUIwq0
username sugetha privilege 15 role network-admin secret sha512 $6$PqyOt8wt/K9HIev7$Qy8gZ6jwo.9fybnQ1lxXEW08p.0FrOWlybxcPmdMhbj417jXPxD5X7vljxdIMv71Hd43mVJbmUU/gzd3iMTXt.
!
role V3-user
   10 permit command enable
   20 permit command show .*
   30 permit mode exec command bash|\|
   40 deny mode exec command .*
   50 deny mode config command .*
   60 deny mode config-all command .*
!
vlan 2
!
interface Ethernet1
   description DMZ-SP1
   load-interval 5
   speed forced 10000full
   no switchport
   ip address 172.20.118.2/30
   multicast ipv4 static
   ptp enable
   ptp sync-message interval -3
   ptp announce interval 0
   ptp delay-req interval -3
!
interface Ethernet2
   description DMZ-SP2
   load-interval 5
   speed forced 10000full
   no switchport
   ip address 172.20.218.2/30
   multicast ipv4 static
!
interface Ethernet3
   description DMZ-SP1
   shutdown
   load-interval 5
   speed forced 10000full
   no switchport
   ip address 172.20.118.6/30
   multicast ipv4 static
!
interface Ethernet4
   description DMZ-SP2
   load-interval 5
   speed forced 10000full
   no switchport
   ip address 172.20.218.6/30
   multicast ipv4 static
!
interface Ethernet5
   load-interval 5
   speed forced 1000full
!
interface Ethernet6
   load-interval 5
   speed forced 1000full
!
interface Ethernet7
   load-interval 5
   speed forced 1000full
   no switchport
   ip address 10.37.7.1/24
   multicast ipv4 static
   service-policy type qos input Ethernet7
!
interface Ethernet8
   load-interval 5
   speed forced 1000full
   no switchport
   ip address 10.37.8.1/24
   multicast ipv4 static
!
interface Ethernet9
   load-interval 5
!
interface Ethernet10
   load-interval 5
!
interface Ethernet11
   load-interval 5
!
interface Ethernet12
   load-interval 5
!
interface Ethernet13
   load-interval 5
!
interface Ethernet14
   load-interval 5
!
interface Ethernet15
   load-interval 5
!
interface Ethernet16
   load-interval 5
!
interface Ethernet17
   load-interval 5
!
interface Ethernet18
   load-interval 5
!
interface Ethernet19
   load-interval 5
!
interface Ethernet20
   load-interval 5
!
interface Ethernet21
   load-interval 5
!
interface Ethernet22
   load-interval 5
!
interface Ethernet23
   load-interval 5
!
interface Ethernet24
   load-interval 5
!
interface Ethernet25
   load-interval 5
!
interface Ethernet26
   load-interval 5
!
interface Ethernet27
   load-interval 5
!
interface Ethernet28
   load-interval 5
!
interface Ethernet29
   load-interval 5
!
interface Ethernet30
   load-interval 5
!
interface Ethernet31
   load-interval 5
!
interface Ethernet32
   load-interval 5
!
interface Ethernet33
   load-interval 5
!
interface Ethernet34
   load-interval 5
!
interface Ethernet35
   load-interval 5
!
interface Ethernet36
   load-interval 5
!
interface Ethernet37
   load-interval 5
!
interface Ethernet38
   load-interval 5
!
interface Ethernet39
   load-interval 5
!
interface Ethernet40
   load-interval 5
!
interface Ethernet41
   load-interval 5
!
interface Ethernet42
   load-interval 5
!
interface Ethernet43
   load-interval 5
!
interface Ethernet44
   load-interval 5
!
interface Ethernet45
   load-interval 5
!
interface Ethernet46
   load-interval 5
!
interface Ethernet47
   load-interval 5
!
interface Ethernet48
   load-interval 5
   multicast ipv4 static
!
interface Ethernet49/1
   load-interval 5
   vmtracer vmware-esx
!
interface Ethernet50/1
   load-interval 5
   vmtracer vmware-esx
!
interface Ethernet51/1
   load-interval 5
   vmtracer vmware-esx
!
interface Ethernet52/1
   load-interval 5
   vmtracer vmware-esx
!
interface Ethernet53/1
   load-interval 5
   vmtracer vmware-esx
!
interface Ethernet54/1
   load-interval 5
   vmtracer vmware-esx
!
interface Loopback0
   description test
   ip address 172.20.0.18/32
!
interface Management1
   ip address 10.90.225.18/24
!
monitor connectivity
   no shutdown
   !
   host aws-us-east-1
      ip 52.216.227.10
      url http://fredcloudtracereast1.s3-website-us-east-1.amazonaws.com
   !
   host aws-us-west-2
      ip 54.231.176.183
      url http://fredwebsitebuckettest.s3-website-us-west-2.amazonaws.com
   !
   host aws-us-west-2-websvr1
      ip 54.231.176.183
      url http://fredwebsitebuckettest.s3-website-us-west-2.amazonaws.com
   !
   host azure-eastus
      ip 52.216.227.10
      url http://fredcloudtracereast1.s3-website-us-east-1.amazonaws.com
   !
   host azure-seasia
      ip 52.219.32.70
      url http://fredcloudtracersingapore.s3-website-ap-southeast-1.amazonaws.com
   !
   host azure-westeu
      ip 52.218.64.114
      url http://fredcloudtracerireland.s3-website-eu-west-1.amazonaws.com
   !
   host azure-westus
      ip 54.231.176.183
      url http://fredwebsitebuckettest.s3-website-us-west-2.amazonaws.com
!
event-handler lnterminattr
   trigger on-boot
   action bash ln -s /usr/bin/TerminAttr /usr/bin/TerminAttrRW && chmod 777 /usr/bin/TerminAttrRW
   delay 60
   asynchronous
!
ip access-list demo
   10 deny ip any host 178.165.72.177
   20 deny ip any host 195.206.105.217
   30 deny ip any host 89.234.157.254
   40 deny ip any host 46.165.230.5
   50 deny ip any host 192.42.116.16
   60 deny ip any host 171.25.193.78
   70 deny ip any host 144.217.255.89
   80 deny ip any host 62.210.105.116
   90 deny ip any host 162.247.74.74
   100 deny ip any host 185.107.47.171
   110 deny ip any host 18.27.197.252
   120 deny ip any host 46.165.245.154
   130 deny ip any host 185.220.102.8
   140 deny ip any host 77.247.181.162
   150 deny ip any host 171.25.193.235
   160 deny ip any host 62.102.148.68
   170 deny ip any host 77.247.181.165
   180 deny ip any host 77.247.181.163
   190 deny ip any host 185.100.87.206
   200 deny ip any host 185.100.87.207
   210 deny ip any host 162.247.74.202
   220 deny ip any host 171.25.193.77
   230 deny ip any host 162.247.74.27
   240 deny ip any host 167.88.7.134
   250 deny ip any host 185.220.102.7
   260 deny ip any host 66.230.230.230
   270 deny ip any host 176.10.99.200
   280 deny ip any host 62.102.148.69
   290 deny ip any host 95.211.230.211
   300 deny ip any host 104.244.76.13
   310 deny ip any host 185.129.62.62
   320 deny ip any host 158.175.122.199
   330 permit ip any any
!
ip routing
!
ip route 0.0.0.0/0 10.90.225.1
!
class-map type qos match-any foo
   match ip access-group foo
!
policy-map type quality-of-service Ethernet7
   class foo
      police cir 1000 mbps bc 300 bytes
   !
   class class-default
!
router bgp 65180
   maximum-paths 32
   neighbor 172.20.118.1 remote-as 65000
   neighbor 172.20.118.1 maximum-routes 12000
   neighbor 172.20.118.5 remote-as 65000
   neighbor 172.20.118.5 maximum-routes 12000
   neighbor 172.20.218.1 remote-as 65000
   neighbor 172.20.218.1 maximum-routes 12000
   neighbor 172.20.218.5 remote-as 65000
   neighbor 172.20.218.5 maximum-routes 12000
   network 10.37.7.0/24
   network 10.37.8.0/24
   network 172.20.0.18/32
!
router multicast
   ipv4
      activity polling-interval 1
      routing
      route 239.0.0.1 172.1.1.98 iif Ethernet3 oif Vlan1
!
management api http-commands
   protocol http
   no shutdown
!
management api gnmi
   transport grpc test
      port 5909
!
management security
   ssl profile gnmi-profile
      certificate gnmi.crt key gnmi.key
!
management telnet
   no shutdown
!
end
